/*delimitation des balises*/

.bodyPage{
    color: white;
    background-color: lightgray;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background-image: url(degradeBlue.png );
}

header{
    display: block;
    text-align: center;
}
nav{
    display: block;
    background: transparent;
    border-color: gray;
    border: solid ;
    border-radius: 2px;
    position :relative;
    top: 35px;
}
div{
    text-align: center;
    display: block;
    border: solid;
    border-color: dimgray;
    position : relative;
    top :40px;
    height:400px
}
footer{
    text-align: center;
    padding-bottom: -100px;
    display: block;
    border-color: dimgray;
    border: solid;
    position :relative;
    top : 43px;
    height:90px
}


/*menu horizontal de la balise nav */

#menu{
    padding: 0;
    margin: 0;
    /* margin-left :800px;
     margin-bottom: 0px;*/
}

#menu li {
    display: inline;
    list-style: none;
}

#rechercher{
    width: 20px;
    height: 20px;
    padding:auto;
    margin-bottom: -4px;
}
#favoris{
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    padding:auto;
    margin-left: 700px;
}
#reglages{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

.cliq{
    cursor: pointer;
}

.inscription{
    text-align: center;
    width:400px;
    height:240px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -200px;
}

/*connexion formulaire*/

.connexion{
    text-align: center;
    width:400px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -200px;
}
#conx {/*pour centrer verticalement le formulaire de connexion*/
    /*position: absolute;*/
    top: 50%
}

/*pour tt les boutons*/
.bouton {
    cursor: pointer;
    background: transparent;
    border:transparent;
    /*border: 3px solid #FFF;
    border-radius: 2px;
    border-color: grey;*/
}


/*spécifique au bouton "m'inscrire"*/
#minscrire {
    padding: 0.6em 1.2em;
    font-size: 1em;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
