
/*delimitation des balises*/

*:focus {
    outline: 0;
}

html{
    height: 100%;
}

body{
    color: white;
    display: block;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    margin: 0px;
    height: 90%;

    
    background: url(music_equalizer-wallpaper-1920x1080.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bodyInsc{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background-image:url("degrade.png");
}

.bodyConx{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background-image: url("degrade.png");

}
header{
    display: block;
    text-align: center;
    height: 100px;
}
nav{
    display: block;
    /*background: transparent;*/
    background-image:linear-gradient(#2E2E2E, #242424);
    /*border-color: gray;
    border: solid ;
    border-radius: 2px;*/
    position :relative;
    /*top: 35px;*/
    /*padding:5px;*/
    height: 35px;
}

.trackList > li{
    transition: background 0.2s;
    background-color: #242424;
    height: 24px;
    margin: 2px;
    padding-left: 15px;
    list-style:none;
    padding-top: 2px;
    padding-right: 15px;
    
}

.artistsList > li > img {
    max-height: 90px;
    margin-top: 5px;
    margin-right: 10px;
}

.artistsList > li > .artistsList_name {
    padding-bottom: 50px;
    vertical-align: middle;
    display: inline-block;
}

.artistsList > li{
    cursor: pointer;
    transition: background 0.2s;
    background-color: #242424;
    height: 100px;
    margin: 2px;
    padding-left: 15px;
    list-style:none;
    padding-top: 2px;
    padding-right: 15px;
    overflow: hidden;
}

.trackList > li:hover{
    transition: background 0.2s;
    background-color: #2E2E2E;
    
}

.artistsList > li:hover{
    transition: background 0.2s;
    background-color: #2E2E2E;
    
}

.trackList > li > .trackActions {
    float: right;
}

.trackList > li > div {
    display: inline;
}

.trackInfos {
    float: left;
}

.trackList > li > .trackInfos {
    overflow: hidden;
    height: 19px;
}

.trackList > li > .trackInfos > .trackList_artist {
    transition: color 0.3s;
    margin-left: 10px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    overflow: hidden;
    height: 19px;
}

.trackList > li > .trackInfos > .trackList_artist:hover {
    color: #B1FF00;
    transition: color 0.3s;
}

#mainDiv{
   
    padding-left: 20px;
    padding-right: 20px;
    border: solid;
    border-color: rgba(0,0,0,0);
    position : absolute;
    background-color: rgba(10,10,10,0.95);
    height: calc(100% - 280px);
    margin-left:15%;
    width:70%;
    margin-right:15%;
    overflow: auto;
    
    
}

footer{
    text-align: center;
    margin: 0px;
    
    /*background-color: #2E2E2E;*/
    
    /*background-color: rgba(10,10,10,0.95);*/
    /*display: inline-block;*/

    width: 100%; /* calc(100%) ??? */
    height: auto;
position: absolute;
bottom: 0;
left: 0;
}

#entetePlaylist{
    cursor: pointer;
    transition: background-color 0.3s;
    padding-top: 5px;
    background-color:#1A1A1A;
    min-height: 25px;
    width: 100%; /* calc(100%) ??? */
    overflow: hidden;
}

#entetePlaylist > * {
    float: left;
}

#entetePlaylistBtn {
    margin-left: 7%;
}

#playlistInfos {
    margin-left: 8%;
}

#entetePlaylist:hover{
    transition: background-color 0.3s;
    background-color: #242424;
}

#voletPlaylist{
    margin-left:15%;
    width: calc(70% + 3px);
    margin-right: calc(15% - 3px);
    padding-left: 20px;
    padding-right: 20px;
    height: 0px;
    background-color: rgb(10,10,10);
    overflow: auto;
}

#voletPlaylist > ul > li {
   transition: background 0.2s;
    background-color: #242424;
    height: 24px;
    margin: 2px;
    padding-left: 15px;
    list-style:none;
    padding-top: 2px;
    padding-right: 15px;
}

#voletPlaylist > ul > li:hover {
     transition: background 0.2s;
    background-color: #2E2E2E;
}

#player {
    background-color: #2E2E2E;
    height: 90px;
    position: relative;
}

#player > #playerUI {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#player > #playerInfos {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#player > #playerInfos > .trackList_artist {
    transition: color 0.3s;
    margin-left: 10px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    overflow: hidden;
    height: 19px;
}

#player > #playerInfos > .trackList_artist:hover {
    color: #B1FF00;
    transition: color 0.3s;
}

#playlistsPopup {
    height: 50%;
    width: 400px;
    background-color: #0D0D0D;
    position: absolute;
    padding: 10px;
}

#playlistsPopup > .iconBtn {
    float: right;
}

#userPlaylists{
    overflow: auto;
    display: block;
    height: 90%;
}

#userPlaylists > .playLi > img {
    float: right;
    height: 18px;
}

#userPlaylists > .playLi > p {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    cursor: pointer;
}

#createPlaylistLi{
    height: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}

#createPlaylistLi > .iconBtn{
   
    margin-right: 10px;
    height: 22px;
}

#createPlaylistLi > input {
    vertical-align : baseline;
    margin-top: 3px;
    display: inline-block;
    background-color: rgba(0,0,0,0.0);
    color: white;
    border-color: rgba(0,0,0,0.0);
    font-size: 14px;
}

#createPlaylistLi > p {
    vertical-align: baseline;
    margin-top: 3px;
    display: inline-block;
}

#artistPageEntete {
    padding-top: 20px;
}

#artistPageEntete > .artistImage {
    height: 300px;
}

#artistPageEntete > h1 {
    display: inline-block;
    margin-left: 20px;
}

/*menu horizontal de la balise nav */

#menu{
    padding: 0;
    margin: 0;
    /* margin-left :800px;
     margin-bottom: 0px;*/
}

#menu li {
    display: inline;
    list-style: none;
}

#recherche{

    margin-left: 8%;
    border-style: hidden;
    border-radius: 50px;
    height: 20px;
    padding-left: 10px;
    width: 20%;
    margin-top: 6px;
}

.iconBtn{
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-left: 6px;
    vertical-align: middle;
    
}

/*pour tt les boutons de la tool bar*/
.toolbarBtn {
    cursor: pointer;
    height: 22px;
    vertical-align: middle;
    background: transparent;
    border:transparent;
    color:white;
    float: right;
    margin-top: 6px;
}

.toolbarSeparator{
    width: 20px;
    float: right;
    
    height: 22px;
    vertical-align: middle;
}



.inscription{
    text-align: center;
    width:400px;
    height:240px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -200px;
}

/*connexion formulaire*/

.connexion{
    text-align: center;
    width:400px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -200px;
}
#conx {/*pour centrer verticalement le formulaire de connexion*/
  /*position: absolute;*/
    top: 50%
}




/*spécifique au bouton "m'inscrire"*/
/*
#minscrire {
    padding: 0.6em 1.2em;
    font-size: 1em;
    letter-spacing: 1px;
   
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}*/

/*********************************** CSS pour la scrollbar **********************************************/

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-track-piece {
    background-color: #242424;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: calc(10% + 10px);
    background-color: gray;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 3px;
}

/**************************** Player ****************************/

#cursorMusic:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

#cursorMusic::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Hides the slider so custom styles can be added */
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
#cursorMusic::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
#cursorMusic::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
#cursorMusic::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

#cursorMusic {
    -webkit-appearance: none;
    width: 305px;
    margin: 0px 0 0 -305px;
    background-color: transparent;
    vertical-align: middle;
}


/** Music progress **/
#musicProgress
{
    width: 300px;
}

progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: #f3f3f3;
    border: 0;
    height: 22px;
    border-radius: 50px;
    vertical-align: middle;
}
/* Chrome */
progress::-webkit-progress-bar  {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: #f3f3f3;
    border: 0;
    height: 22px;
    border-radius: 50px;
}

progress::-moz-progress-bar  {
    background-color: #5aff33;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    border: 0;
    height: 22px;
}


progress::-webkit-progress-value {
    background-color: #5aff33;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    border: 0;
    height: 22px;
}

/** Cursor Volume **/
#volume:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

#volume::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Hides the slider so custom styles can be added */
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #5aff33;
    cursor: pointer;
}

/* All the same stuff for Firefox */
#volume::-moz-range-thumb
{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #5aff33;
    cursor: pointer;
}

/* All the same stuff for IE */
#volume::-ms-thumb   {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #5aff33;
    cursor: pointer;
}

#volume
{
    -webkit-appearance: none;
    width: 120px;
    border-radius: 5px;
}

#volumeControlContainer
{
    position: absolute;
    vertical-align: middle;
    height: 28px;
    padding-top: 9px;
}